.form {
  display: flex;
}

.form input[type='text'] {
  flex: 20;
  padding: 5px;
}

.form input[type='submit'] {
  flex: 2;
}
/* @media will help with the add company line to keep it on the page when the screen size changes */
@media only screen and (max-width: 770px) {
  .form {
    display: block;
  }
}
.btn{
  background-color: rgb(79, 106, 128)
}
.valid{
    border:1px solid black;
}
.invalid{
  border:1px solid #f00;
}