<div>
  <h4 class='companyBar'>
    {{company.companyinfo}}
  </h4>
  <div class='company'>
      <button (click)='onDelete(company)' id='del' class='button' type='button'>delete</button>
        <li><u>Contact Name</u>: {{ company.contacts }}</li>
        <li><u>Contact Email</u>: {{ company.email }}</li>
        <li><u>Company Performance</u>: {{ company.performance }}</li>
        <li><u>Company Status</u>: {{ company.status }}</li>
        <form class="form" (ngSubmit)='onSubmit()'>
          <input type="text" name='companyinfo' [(ngModel)]='companyinfo' placeholder='Company'>
          <input type="hidden" name='id' [(ngModel)]='id' value=`${this.company.id` placeholder='ID'>
          <input type="text" name='contacts' [(ngModel)]='contacts' placeholder='Contacts'>
          <input type="text" name='email' [(ngModel)]='email' placeholder='Email'>
          <input type="text" name='performance' [(ngModel)]='performance' placeholder='Performance'>
          <input type="text" name='status' [(ngModel)]='status' placeholder='Status'>
          <input type="submit" value="Submit" class="btn"> &#8592;edit company's here.
        </form>
  </div>
</div>
